/* 
/* BG Cuaca */
.udara-kabur-siang,
.udara-kabur {
  background-image: url(../img/bg-cuaca/asap-halimun-kabut.jpg);
}

.udara-kabur-malam {
  background-image: url(../img/bg-cuaca/asap-halimun-kabut.jpg);
}

.asap-siang,
.asap {
  background-image: url(../img/bg-cuaca/asap-halimun-kabut.jpg);
}

.asap-malam {
  background-image: url(../img/bg-cuaca/asap-halimun-kabut.jpg);
}

.kabut-siang,
.kabut {
  background-image: url(../img/bg-cuaca/asap-halimun-kabut.jpg);
}

.kabut-malam {
  background-image: url(../img/bg-cuaca/asap-halimun-kabut.jpg);
}

.berawan-siang,
.berawan {
  background-image: url(../img/bg-cuaca/berawan-siang.jpg);
}

.berawan-malam {
  background-image: url(../img/bg-cuaca/berawan-malam.jpg);
}

.berawan-tebal-siang,
.berawan.tebal {
  background-image: url(../img/bg-cuaca/berawan-tebal-siang.jpg);
}

.berawan-tebal-malam {
  background-image: url(../img/bg-cuaca/berawan-tebal-malam.jpg);
}

.cerah-berawan-siang,
.cerah.berawan {
  background-image: url(../img/bg-cuaca/cerah-berawan-siang.jpg);
}

.cerah-berawan-malam {
  background-image: url(../img/bg-cuaca/cerah-berawan-malam.jpg);
}

.cerah-siang,
.cerah {
  background-image: url(../img/bg-cuaca/cerah-siang.jpg);
}

.cerah-malam {
  background-image: url(../img/bg-cuaca/cerah-malam.jpg);
}

.hujan-badai-siang,
.hujan.badai {
  background-image: url(../img/bg-cuaca/hujan-petir.jpg);
}

.hujan-badai-malam {
  background-image: url(../img/bg-cuaca/hujan-petir.jpg);
}

.hujan-petir-siang,
.hujan.petir {
  background-image: url(../img/bg-cuaca/hujan-petir.jpg);
}

.hujan-petir-malam {
  background-image: url(../img/bg-cuaca/hujan-petir.jpg);
}

.hujan-ringan-siang,
.hujan.ringan {
  background-image: url(../img/bg-cuaca/hujan-ringan-lokal-siang.jpg);
}

.hujan-ringan-malam {
  background-image: url(../img/bg-cuaca/hujan-ringan-lokal-malam.jpg);
}

.hujan-lokal-siang,
.hujan.lokal {
  background-image: url(../img/bg-cuaca/hujan-ringan-lokal-siang.jpg);
}

.hujan-lokal-malam {
  background-image: url(../img/bg-cuaca/hujan-ringan-lokal-malam.jpg);
}

.hujan-sedang-siang,
.hujan.sedang {
  background-image: url(../img/bg-cuaca/hujan-sedang-lebat-siang.jpg);
}

.hujan-sedang-malam {
  background-image: url(../img/bg-cuaca/hujan-sedang-lebat-malam.jpg);
}

.hujan-lebat-siang,
.hujan.lebat {
  background-image: url(../img/bg-cuaca/hujan-sedang-lebat-siang.jpg);
}

.hujan-lebat-malam {
  background-image: url(../img/bg-cuaca/hujan-sedang-lebat-malam.jpg);
}

/* dropdown */

.dropdown-select-carousel-cuaca {
  border: 0px;
  outline: 0px;
  border-bottom: 1px solid #72c02c;
  margin-right: 5px;
}

.card-carousel-cuaca {
  padding: 5px;
  margin: 5px;
  box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 0.07);
}
.wi {
  font-size: 22px;
  margin-right: 3px;
  position: relative;
  top: 3px;
}
.wi-direction-up {
  color: orange;
}
.wi-direction-down {
  color: #3bb5ff;
}
.wi-raindrop {
  color: #9cd1ff;
}
.wi-strong-wind {
  color: #ffce19;
}
.wi-wind,
.wi-refresh {
  color: #ffce19;
  font-size: 26px;
  top: 5px;
}
